// =======================
// Contact Form
// =======================

  .contact-form {
  z-index: 300;
  text-align: center; 
}
  .contact-form h2 {
    font-size: 1.5rem;
    @include margin(1.5rem null);
    color: black;
  }

.form-wrap {
  position: relative;
  height: 300px;
}

.success {
font-size: 1.1rem;
padding: 10px;
//margin-bottom: $spacer;
}

.success {
  color: $success-color;
}

.subscribe {
  /*font-family: $font;*/
  font-size: .9rem;
   padding:10px 6px;
   margin-bottom: 1.5rem;
   width: 100%;
   border: none;
  border-bottom: #7F7F7F 1px solid;
   line-height: 1.3;
   background-color: transparent;
  transition: border-color 0.15s linear;
}

.subscribe:focus {
  border-bottom: $link-color 1px solid;
}

button {
   text-transform: uppercase;
   letter-spacing: 1px;
  opacity: .9;
}

@include media(700) {
    .form-wrap {
      padding: 0 2rem;
    }

    .form-wrap h2 {
      margin-bottom: 1rem;
      font-size: 1.9rem;
    }

  .subscribe {
     padding: 15px;
     margin-top: 1rem;
     font-size: 1rem;
  }

  button {
     width: 80px;
     padding: 8px 0;

  }
}


@include media(900) {
  .form-wrap h2 {
      font-size: 2.2rem;
      margin-bottom: 0;
    }
  }